@import url('https://fonts.googleapis.com/css2?family=Schibsted Grotesk:ital,wght@0,300;0,400;1,400&display=swap');
::-webkit-scrollbar {
    width: 8px;
}

  @import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,700;1,400&display=swap');


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       font-family: 'Schibsted Grotesk', sans-serif;;


}
.text-center{
    text-align: center;
}

:root {
    --primary-color: #ffff;
    --secondery-color: #06b4d7;
    --shadow-color: #9d9fb3;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

}


.form__container {
  
    background-color: var(--primary-color);
  
    padding: 1rem;
    min-width: 100vw ;
    min-height: 100vh;

}
 .header-content {
    min-width: 80vw ;
    z-index: 2;
    background-color: #fff;
    position: fixed;
    top: 0pc;
  }
 
  .header-icon{
    display: none;
  }
.title__container {
    width: 80%;
    height: 4.5rem;
    padding-top: 9px;

  /*  padding: 0.6rem 1.5rem;
    padding-bottom: 2rem;*/

}

.title__container h1 {
    padding-left: 2rem;
 
    color: #333333;
    font-size: 2rem;
    margin-bottom: 0.4rem;
    font-family: 'Schibsted Grotesk', sans-serif;
 
}
.titulo-principal{
    color: #333333;
}
.subtitulo-principal{
    font-size: 1rem;
    display: inline-block; width: 300px; padding-top:5px
}
.title__container p {
    color: var(--shadow-color);
    font-size: 1rem;
}

.body__container {
    padding-top: 4.5rem;
    display: flex;

}



  
.left__container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    padding: 1.25rem 0;
}
@media only screen and (min-width: 768px) {
    .left__container {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding-right: 1.8rem;
    }
}

.side__titles {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 0.6rem; */

}

.title__name {

    margin-bottom: 0.25rem;
}

.title__name h3 {
    margin-bottom: 0px;
    text-align: right;
    color: #42434e;
    font-size: 1.2rem;
 
}

.title__name p {
    text-align: right;
    color: var(--shadow-color);
    font-size: 0.85rem;
}

.progress__bar__container {
    margin-top: -10px;
    /* height: 100%; */
}

.progress__bar__container ul .active {
    background-color:  var(--secondery-color) ;


}

.header-icon-principal {
    display: none;
}
.header-icon-principal.active{
    display: block;

}

.header-icon .icon-active, .header-icon-principal .icon-active{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: var(--secondery-color);

    
    border-radius: 50%;
    
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 2rem;
}
.progress__bar__container ul .pactual {
    background-color:#06b4d7;

}

li .pactual{
    background-color: #303952;
}


.titulo-icon{
    color: var(--secondery-color);
     
    text-align: center;

}

.subtitulo-icon{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.progress__bar__container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: #666666;
    padding: 0.4rem 0.5rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #ffffff;
    margin-left: 2rem;
}

.progress__bar__container ul li::before {
    content: '';
    width: 2px;
    height: 15vh;
    position: absolute;
    background-color:  #666666;

  
}


.progress__bar__container ul .active::before {
    content: '';
    width: 2px;
    height: 8vh;
    position: absolute;
   background-color: var(--secondery-color);
     z-index: 1; 
}

.right__container {
    width: 90vw;
 

    padding: 0.5rem 1rem;
}

.right__container fieldset {
    border: none;
}

.sub__title__container {


    margin: auto;
    max-width: 600px;
    text-align: center;

}

.sub__title__container h2 {

    font-size: 1.8rem;
    color: #7F7F7F;
    margin: 0.4rem 0;
       font-family: 'Schibsted Grotesk', sans-serif;
      

}

.sub__title__container p {
    font-size: 1.1rem;
    color: var(--shadow-color);
}


 .page {
    text-align: center;
    font-size: 1rem;
    color: var(--shadow-color);
}
.active__form {
    display: none;

}
.fieldsetform{
    background: white;
}
.input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.input__container label {
    color: #42434e;
    font-size: 1rem;
  
}

.input__container input {

    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 0.75rem;
    background: none;
    border: 1px solid var(--secondery-color);

    outline: none;
    color: #42434e;
}
.header-icon{
    display: none;
}

h5.titulo-icon.text-center{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 1.8rem;
  
}

.nxt__btn {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: right; */
    /* width: 30%; */
    padding: 0.75rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    
    background: var(--secondery-color);
    color: #ffffff;
    /* border: none; */
    /* outline: none; */
    /* margin-left: 20em; */
    /* margin-top: 0.55em;     */
}
.form-input{
    
    


}
.nxt__btn:hover {
    transform: scale(1.03) !important;
    background: #02A5F3 !important;
    cursor: pointer !important;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* float: right; */
    margin: 0;
    padding: 0;
    
    /* justify-content:space-evenly; */
}


.prev__btn {
    margin: 0;
    width: 20%;
    padding: 0.75rem 0;
    /* background-color: #857373; */
    display: flex;
    transform: scale(1.03) !important;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    /* margin-right: 20px; */
    /* margin-left: 15rem; */
    cursor: pointer;
}

/*------------------------------- form-2 design --------------------*/

.selection {
    display: flex;
    align-items: center;
    border: 1px solid var(--shadow-color);
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

.selection:hover {
    border: 1px solid var(--secondery-color) !important;
    background-color: var(--primary-color)  !important;
    cursor: pointer;
}

a {
    color:var(--secondery-color);
    text-decoration: none;
}

.imoji {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.4rem;
    margin: 0 0.2rem;
    margin-right: 0.4rem;
    font-size: 2rem;
    font-weight: 900;
    color: yellow;
    border-radius: 50%;
    background: var(--shadow-color);
}


.descriptionTitle h3 {
    color: #ffffff;
    margin-bottom: 4px;
}

.descriptionTitle p {
    font-size: 0.75rem;
    color: var(--shadow-color);
}


/*-------------------------------------- form-4 design----------------------------------------- */
.slider {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.75rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    margin-top: 3rem;
    /* margin-right:5rem ; */
}



.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondery-color);
    cursor: pointer;
    position: relative;
}

.slider::-webkit-range-thumb {
    width: 50px;
    height: 50px;
    background: var(--secondery-color);
    cursor: pointer;
    position: relative;
}

.output__value {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 2em;
    padding: 0.8rem 0.8rem;
    position: absolute;
    background-color: var(--secondery-color);
}

.output__value::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    margin-top: 40px;
    background-color: var(--secondery-color);
}

    /* Estilos para escritorio */
    @media screen and (min-width: 768px) {

    
        .table_empleado { display: table; }
        .table_empleado thead { display: table-header-group; }
        .table_empleado tbody { display: table-row-group; }
        .table_empleado tr { display: table-row; }
        .table_empleado td, .table_empleado th { display: table-cell; }
    }

    .imagen-grafico-chartplanfinanciero{
        position: relative;
        height: 45vh;
         width: 35vw
    }
   
    .imagen-grafico, .imagen-grafico-costo{
        position: relative;
        height: 40vh ;
         width: 30vw ;
    }


    /* 
    .table_empleado {
        width: 100%;
        border-collapse: collapse;
    }
    .table_empleado thead {
        display: none;
    }
    .table_empleado tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
        border: 1px solid  #ccc;
        padding: 10px;
    }
    .table_empleado td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
    .table_empleado td:last-child {
        border-bottom: 0;
    }
    .table_empleado td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
   
    }

    .table_empleado td:first-child {
        background-color: #E9ECEF; 
    }

   
    @media (min-width: 600px) {
        .table_empleado thead {
            display: table-header-group;
        }
        .table_empleado tr {
            display: table-row;
        }
        .table_empleado td {
            display: table-cell;
            text-align: left;
            border-bottom: 0;
        }
        .table_empleado td:before {
            display: none;
        }

    }*/








/**
*table
*/
#emoji-container{
    position: absolute;
    
    top: 55%;
    right:-1%;
    transform: translate(-50%, -50%);
}
#emoji-text {
    padding-right:40px;
    font-size: 0.8rem;
    margin-top: -41px;
    color: rgba(206, 18, 11, 0.822);
    text-align: end;
    left: 46px;
    position: absolute;
    margin-left:-30vw;
    width:30vw;
    font-weight:600;
    z-index: -1;
  }
  #emoji {
    padding-top: 15px;
    padding-left: 15px;

    background-color: transparent;
    font-size: 2em;
   
 
    
  }
  
  #emoji img {
    transition: all 0.3s ease-in-out;
   margin-bottom: 0px;
  }

  /* Anima el círculo */
  /*#emoji {
    animation: jump 1s ease-in-out infinite;

  }*/
  
  @keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  /* Define la animación */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  
  :root {
    --size: 1rem;
    --border: 0.2rem;
  }
  
  .checkbox {
    position: absolute;
    height: var(--size);
    border-radius: 5px;
    border: var(--secondery-color) solid grey;
    width: var(--size);
    transition: 100ms ease-in;
    cursor: pointer;
  }
  
  input:checked + .checkbox {
    background: #06b4d7;
    border: var(--border) solid #06b4d7;
  }
  
  input:checked + .dark {
    background: white;
    border: var(--border) solid white;
  }

 .custom-checkbox{
    text-align: left;
 }
  /*responsive*/
  


  input[type=text],input[type=number], select, textarea{
    width: 100%;
  
    height: calc(2rem + 1rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    background-color: #fff;
 
    box-sizing: border-box;
    resize: vertical;
    border: 2px solid #06b4d7;
    text-align: end;
    border-radius: 0;

   
  }
  .clientes-dia{
  
    height: calc(1.5rem + 0.8rem + 2px) !important;
    font-size: 1.2rem !important;
  }

  #tabla-empleados input{
    
    height: calc(1.5rem + 0.8rem + 2px) ;
    font-size: 1rem ;
  }
  #tabla-empleados  td,   #tabla-empleados th{
    padding: 0.5rem;
  }

  #tabla_gasto_general input{
    
    height: calc(1.5rem + 0.8rem + 2px) ;
    font-size: 1.2rem ;
  }
    #tabla_gasto_general  td,   #tabla_gasto_general th{
        padding: 0.5rem;
    }

.total_clientes_semana{
    
    height: calc(1.5rem + 0.8rem + 2px) !important;
    font-size: 1.2rem !important;
}

  .table-clientesdia td,  .table-clientesdia th{
    padding: 0.5rem;
  }
  label {
   
    display: block;
        padding-top: 0px;
        margin-top: 0px;
    text-align: center;
    
    }

.form-porcentaje{
font-size:1.5rem;
/*letter-spacing:0.1em;*/
text-decoration:none;
color:#363636;
background:linear-gradient(to right,#06b4d7 0%,#06b4d7 100%);
background-repeat: no-repeat;
background-position: left 100%;
transition-duration: 1s;
background-size: 0 6%;

}

.titulo-porcentaje,.titulo-cantidad{
color: #06b4d7;
}

.form-porcentaje:hover{
    background-size:100% 6%;
}
  #porcentaje_c1,
  #porcentaje_c2,
  #porcentaje_c3,
  #porcentaje_c4,
  #porcentaje_c5,
  #porcentaje_c6,
  #porcentaje_c7,
  #clientes_c1,
  #clientes_c2,
  #clientes_c3,
  #clientes_c4,
  #clientes_c5,
  #clientes_c6,
  #clientes_c7
  {
  
  
    height: calc(1rem + 0.9rem + 2px);
    padding: 0.1rem 0.8rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
 
  }

  /***************************************************/
/*   fields focus styles                           */
/***************************************************/
.animated input[type=text], 
.animated input[type=checkbox],
.animated input[type=radio],
.animated input[type=radio]+label,
.animated textarea,
.animated select, 
.animated a,
.animated button{
  transition: all .5s ease-in-out;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}
/*Radio+Check round corners*/
.animated input[type=checkbox]+label,
.animated input[type=radio]+label{
  border-radius: 7px;
  padding: 3px;
}
.glow input[type=text]:focus,
.glow select:focus,
.glow input[type=checkbox]:focus,
.glow input[type=checkbox]:focus+label,
.glow input[type=radio]:focus,
.animated input[type=radio]:focus+label,
.glow textarea:focus,
.glow a:focus,
.glow button:focus{
  box-shadow:0 0 20px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/*outline can be different than border (more than 1 px in this case) and not alter the layout*/
.outline input[type=text]:focus, 
.outline select:focus,
.outline input[type=checkbox]:focus,
.outline input[type=radio]:focus,
.outline textarea:focus,
.outline  a:focus,
.outline button:focus{
  outline: 3px solid rgba(81, 203, 238, 1);
}


@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:300,600|Poppins:300&display=swap");

:root {
    --yellow: #ffd049;
    --light-yellow: #fdf2d2;
    --orange: #ffa929;
    --azul:#098ED6;
    --light-gray: #e3e4e8;
    --gray: #71738b;
    --light-blue: #7a7c93;
    --blue: #34385a;

    --slider-handle-size: 14px;
    --slider-handle-border-radius: 2px;
    --slider-handle-margin-top: -4px;
    --slider-track-height: 6px;
    --slider-track-border-radius: 4px;
}



#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sliderContainer {
    width: 100%;
    max-width: 440px;

    padding: 56px 40px;

    border-radius: 40px;

    box-shadow: 0px 8px 40px rgba(128, 128, 128, 0.15);
}

#sliderContainer>div:first-child {
    margin-bottom: 48px;
}

.tick-slider-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.tick-slider-header>h5 {
    margin: 0;

    font-family: 'Schibsted Grotesk', sans-serif;;
    font-size: 18px;
    font-weight: 300;
    color: var(--gray);
}

.tick-slider {
    position: relative;

    width: 100%;
}

.tick-slider-value-container {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;



       font-family: 'Schibsted Grotesk', sans-serif;;

    font-size: 0.8rem;
    color: var(--gray);
}

.tick-slider-value {
    position: absolute;
    top: 0;

    font-weight: bold;

    color: var(--blue);

    border-radius: var(--slider-handle-border-radius);
}

.tick-slider-value>div {
    animation: bulge 0.3s ease-out;
}

.tick-slider-background,
.tick-slider-progress,
.tick-slider-tick-container {
    position: absolute;
    bottom: 5px;
    left: 0;

    height: var(--slider-track-height);

    pointer-events: none;

    border-radius: var(--slider-track-border-radius);

    z-index: -1;
}

.tick-slider-background {
    width: 100%;
    background-color: var(--light-gray);
}

.tick-slider-progress {
    background-color: var(  --azul);
}

.tick-slider-tick-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 calc(var(--slider-handle-size) / 2);
}

.tick-slider-tick {
    width: 2px;
    height: 2px;

    border-radius: 50%;

    background-color: white;
}

.tick-slider-label {
    opacity: 0.85;
    transition: opacity 0.1s ease;
}

.tick-slider-label.hidden {
    opacity: 0;
}

@keyframes bulge {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*

    REMOVE SLIDER STYLE DEFAULTS

*/
input[type="range"] {
    -webkit-appearance: none;

    width: 100%;
    height: 100%;

    background: transparent;
    outline: none;

    margin: 5px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    border: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

/*

    HANDLE

*/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: var(--slider-handle-size);
    height: var(--slider-handle-size);

    background: var(--azul);

    border-radius: var(--slider-handle-border-radius);

    cursor: pointer;

    margin-top: var(--slider-handle-margin-top);
  
    -webkit-transform: scale(1);
    transform: scale(1);

    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;

    width: var(--slider-handle-size);
    height: var(--slider-handle-size);

    background: var(--azul);


    border: none;
    border-radius: var(--slider-handle-border-radius);

    cursor: pointer;

    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
    transform: scale(1.2);
}

/*

    TRACK

*/

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--slider-track-height);

    cursor: pointer;

    background: none;

    border-radius: var(--slider-track-border-radius);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--slider-track-height);

    cursor: pointer;

    background: none;

    border-radius: var(--slider-track-border-radius);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: none;
}
input[type="range"]:active::-webkit-slider-runnable-track {
    background: none;
}



.container-flex{
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    justify-content: center;
   align-content: center;
 
}

.item-flex{
    width: 100%;
   
    /* float: right; */
    /* width: 30%; */
    padding: 0.75rem 0;
   
}
    /* Define el grid */
    .container-grid{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas de ancho igual */
        grid-gap: 10px; /* Espacio entre las celdas */
      }
  
    
  
      /* Establece el ancho del grid en dispositivos de escritorio */
      @media (min-width: 768px) {
        .container-grid {
          max-width: 960px; /* Ancho máximo del grid */
          margin: 0 auto; /* Centra el grid en la pantalla */
        }
      }
  
      .row {
        height: 100%;
      }
      
      /**VIDEO**/
     
      .header-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
      .header-video video {
        min-width: 100%;
        min-height: 100%;
      }

      .header-overlay {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: #303952;
        z-index: 1;
        opacity: .85;
      }
      
      .btn{
        border-radius:unset;
    }
    
      